<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parkmycar">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.hardware.camera2.full" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".LocationDetail"></activity>
        <activity android:name=".searchonmap" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".bookparking"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".parkingmap"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".about"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".guide"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".myhistory"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".feedbackform"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".profilepage"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".HomeScreen"
            android:hardwareAccelerated="false"
            android:theme="@style/AppTheme_NoActionBar" />
        <activity
            android:name=".loginDriver"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".registrationDriver"
            android:hardwareAccelerated="false" />
    </application>

</manifest>